<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="land-style" href="../land-style.css"/>
    <link th:href="@{/webjars/bootstrap/5.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.5/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/2.0.4/dist/htmx.min.js}" defer></script>
</head>
<body>
    <main class="my-5">
        <div style="padding-left: 10px">
            <h1 >Homepage</h1>
            <p class="p-furtherinfo">Hello World!</p>

            <a th:href="@{/furtherInfo}"
               th:hx-post="@{/furtherInfo}"
               hx-target=".p-furtherinfo"
               hx-swap="outerHTML"
               hx-push-url="true"
               class="land-side-link">
                Show further info
            </a>
            <a th:href="@{/git}"
               th:hx-get="@{/git}"
               hx-target="#content-inner-links"
               hx-swap="innerHTML"
               hx-push-url="true"
               class="land-side-link">
                Show git projects
            </a>
        </div>



        <div class="container " id="content-inner-links">
            <!-- Content will be loaded here -->
        </div>

    </main>
</body>
</html>